body {
	margin: 0px;
	font-family: 'Noto Sans', sans-serif;
	display: grid;
	grid-template-columns: 170px 685px 1fr;
	grid-template-rows: auto 1fr 80px;
	grid-template-areas: "head head head"". search-results .""foot foot foot";
	margin: 0px;
}

header {
	grid-area: head;
	display: grid;
	grid-template-columns: 170px 490px 195px 1fr;
	grid-template-rows: 65px 55px;
	grid-template-areas: "logo search-bar . account"". shortcuts tools .";
	margin: 0px;
	border-color: hsl(216, 15%, 90%);
	border-style: none none solid none;
	border-width: 1px;
}

footer {
	grid-area: foot;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	background-color: hsl(216, 17%, 97%);
	color: hsl(216, 15%, 50%);
}

main {
	grid-area: search-results;
	margin-left: 10px;
}

ul {
	display: flex;
	flex-direction: row;
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
	color: initial;
}

p {
	margin: 0px;
}

a {
	text-decoration: none;
	color: hsl(214, 82%, 40%);
}

a:hover {
	text-decoration: underline;
}

.button {
	padding: 0px 5px;
	margin: 0px;
}

.services-button {
	margin-left: 15px;
}

.search-icon {
	margin: 4px 6px;
    padding: 4px 4px 4px 4px;
	color: hsl(216, 15%, 60%);
}

.search-icon:hover {
	text-decoration: none;
}

.shortcuts-button {
	color: hsl(216, 15%, 30%);
    display: flex;
    flex-direction: row;
	align-items: center;
	margin: 0px;
	padding: 0px 8px 10px 8px;
	border-width: 3px;
	border-color: white;
	border-style: none none solid none;
}

.shortcuts-button:hover {
	text-decoration: none;
}

.shortcuts-button:visited {
	text-decoration: none;
	color: hsl(216, 15%, 30%);
}

.shortcuts-icon {
	font-size: 18px;
    padding: 0px 5px 0px 0px;
}

.active {
	color: hsl(214, 82%, 51%);
	border-color: hsl(214, 82%, 51%);
}

.active:visited {
	color: hsl(214, 82%, 51%);
}

.result {
	display: flex;
	flex-direction: column;
	width: 655px
}

.result-header {
	display: flex;
	flex-direction: column;
}

.result-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
}

.result-url {
	
}

.target {
	color: hsl(216, 15%, 35%);
}

.translate {
	
}

.result-link {
	font-weight: normal;
	margin: 4px 0px 3px 0px;
}

.result-summary {
	font-size: 14px;
	margin-bottom: 25px;
}

.location-button {
	color: hsl(216, 15%, 50%);
}

.location-button:visited {
	color: hsl(216, 15%, 50%);
}

.location-button:hover {
	text-decoration: none;
	color: black;
}

.links-button {
	color: hsl(216, 15%, 50%);
	margin: 0px 15px;
}

.links-button:visited {
	color: hsl(216, 15%, 50%);
}

.links-button:hover {
	text-decoration: none;
	color: black;
}

#search-bar {
	grid-area: search-bar;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 2px;
	margin: 20 auto 0px 0px;
	border-width: 1px;
	border-style: solid;
	border-color: hsl(216, 15%, 90%);
	border-radius: 30px;
	width: 675px;
	height: 40px;
}

#search-bar:hover {
	box-shadow: 0.1em 0.1em 0.3em hsl(216, 15%, 80%), 0.05em 0.05em 0.1em hsl(216, 15%, 90%);
}

#search {
	font-size: 1.5em;
	width: 600px;
	padding: 0px;
    border-width: 0px;
	margin: 0px 0px 0px 20px;
}

#search:focus {
	outline-style: none;
}

#voice-search-icon {
	margin: 4px 6px 4px 0px;
    padding: 4px 4px 4px 10px;
	border-color: hsl(216, 15%, 90%);
	border-style: none none none solid;
	border-width: 1px
}

#services {
	grid-area: account;
	margin: auto 15px 3px auto;
}

#services>ul {
	align-items: center;
}

#apps {
	color: black;
	padding: 7px;
}

#apps:visited {
	color: black;
}

#apps:hover {
	text-decoration: none;
	color: hsl(216, 15%, 35%);
	border-radius: 50%;
	background-color: hsl(216, 15%, 96%);
}

#connect {
	background-color: hsl(214, 82%, 55%);
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 3px;
}

#connect:hover {
	text-decoration: none;
	background-color: hsl(214, 81%, 54%);
	box-shadow: 0 1px 2px 0 hsla(217, 89%, 61%, 0.3), 0 1px 3px 1px hsla(217, 89%, 61%, 0.15);
}

#logo {
	grid-area: logo;
    margin: 28px auto 0px 25px;
    width: auto;
}

#logo-img {
	width: 92px;
}

#shortcuts {
	grid-area: shortcuts;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto 0px 0px 0px;
	font-size: 12px;
}

#tools {
	grid-area: tools;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: auto 0px 0px 0px;
	font-size: 12px;
}

#tool-button {
	padding: 5px 12px;
    margin: 0px;
    color: hsl(216, 15%, 30%);
	border-radius: 2px;
    border-color: hsl(216,15%, 100%);
    border-style: solid;
    border-width: 1px;
}

#tool-button:hover {
	text-decoration: none;
    border-radius: 2px;
    border-color: hsl(216,15%, 80%);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 1px 1px hsl(216, 15%, 78%);
    background-color: hsl(216, 15%, 96%);
}

#tool-button:visited {
	color:  hsl(216, 15%, 30%);
}

#total-results {
	color:  hsl(216, 15%, 30%);
	font-size: 14px;
	margin: 14px 0px;
}

#search-results {
	
}

#location {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0px;
	padding: 0px 10px 0px 155px;
	border-color: hsl(216, 15%, 90%);
	border-style: solid none solid none;
	border-width: 1px;
	height: 40px;
}

#language {
	margin: 0px;
	padding: 2px 15px;
	border-color: hsl(216, 15%, 92%);
	border-style: none solid none none;
	border-width: 1px;
}

#change-location {
	margin: 0px;
	padding: 0px 0px 0px 15px;
}

#contact-links {
	padding: 10px 10px 10px 155px;
}