body {
	margin: 0px;
	font-family: 'Noto Sans', sans-serif;
	display: grid;
	grid-template-columns: 170px 665px 1fr;
	grid-template-rows: auto 1fr 80px;
	grid-template-areas: "head head head"". search-results .""foot foot foot";
	margin: 0px;
}

header {
	grid-area: head;
	display: grid;
	grid-template-columns: 170px 490px 175px 1fr;
	grid-template-rows: 65px 55px;
	grid-template-areas: "logo search-bar . account"". shortcuts tools .";
	margin: 0px;
	border-color: hsl(216, 15%, 90%);
	border-style: none none solid none;
	border-width: 1px;
}

footer {
	grid-area: foot;
	display: flex;
	flex-direction: column;
}

main {
	grid-area: search-results;
}

ul {
	display: flex;
	flex-direction: row;
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
	color: initial;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.button {
	padding: 0px 5px;
	margin: 0px;
}

.services-button {
	color: black;
}

.services-button:visited {
	color: black;
}

.services-button:hover {
	color: hsl(216, 15%, 35%);
}

.result {
	display: flex;
	flex-direction: column;
}

.result-header {
	display: flex;
	flex-direction: column;
}

.result-info {
	display: flex;
	flex-direction: row;
}

.search-icon {
	margin: 4px 6px;
    padding: 4px 4px 4px 4px;
	color: hsl(216, 15%, 60%);
}

.search-icon:hover {
	text-decoration: none;
}

.shortcuts-button {
	color: hsl(216, 15%, 30%);
    display: flex;
    flex-direction: row;
	align-items: center;
	padding: 0px;
}

.shortcuts-button:hover {
	text-decoration: none;
}

.shortcuts-button:visited {
	text-decoration: none;
	color:  hsl(216, 15%, 30%);
}

.shortcuts-icon {
	font-size: 18px;
    padding: 0px 5px 0px 0px;
}

#search-bar {
	grid-area: search-bar;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 2px;
	margin: 20 auto 0px 0px;
	border-width: 1px;
	border-style: solid;
	border-color: hsl(216, 15%, 90%);
	border-radius: 30px;
	width: 675px;
	height: 40px;
}

#search-bar:hover {
	box-shadow: 0.1em 0.1em 0.3em hsl(216, 15%, 80%), 0.05em 0.05em 0.1em hsl(216, 15%, 90%);
}

#search {
	font-size: 1.5em;
	width: 600px;
	padding: 0px;
    border-width: 0px;
	margin: 0px 0px 0px 20px;
}

#search:focus {
	outline-style: none;
}

#voice-search-icon {
	margin: 4px 6px 4px 0px;
    padding: 4px 4px 4px 10px;
	border-color: hsl(216, 15%, 90%);
	border-style: none none none solid;
	border-width: 1px
}

#services {
	grid-area: account;
	margin: auto 22px 0px auto;
	align-items: center;
}

#logo {
	grid-area: logo;
    margin: 28px auto 0px 25px;
    width: auto;
}

#logo-img {
	width: 92px;
}

#shortcuts {
	grid-area: shortcuts;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto 0px 12px 0px;
	font-size: 12px;
}

#active {
	color: #1a73e8;
	border-width: 2px;
	border-color: #1a73e8;
	border-style: none none solid none;
}

#tools {
	grid-area: tools;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: auto 0px 12px 0px;
	font-size: 12px;
}

#tool-button {
	padding: 5px 12px;
    margin: 0px;
    color: hsl(216, 15%, 30%);
	border-radius: 2px;
    border-color: hsl(216,15%, 100%);
    border-style: solid;
    border-width: 1px;
}

#tool-button:hover {
	text-decoration: none;
    border-radius: 2px;
    border-color: hsl(216,15%, 80%);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 1px 1px hsl(216, 15%, 78%);
    background-color: hsl(216, 15%, 96%);
}


}

#tool-button:visited {
	color:  hsl(216, 15%, 30%);
}

#search-results {
	
}

#location {
	display: flex;
	flex-direction: row;
}

#language {
	padding: 10px 10px 10px 15px;
	margin: 0px;
	border-color: hsl(216, 15%, 90%);
	border-style: solid none solid none;
	border-width: 1px;
}